<div class="container">
  <div class="row align-items-center" style="margin-left: 40%;">
    <div class="col-sm-1">
      <!-- <mat-card class="marginCard"> -->
          <mat-card-title>Login HMDIOY</mat-card-title>
          <form class="example-form">
              <mat-form-field class="example-full-width">
                <input matInput placeholder="Email" [formControl]="emailFormControl"
                       [errorStateMatcher]="matcher" name="email" autocomplete="email">
                <mat-hint>Entre com seu Email</mat-hint>
                <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
                  O E-mail parece invalido, entre com um E-mail correto!
                </mat-error>
                <mat-error *ngIf="emailFormControl.hasError('required')">
                  o E-mail é <strong>necessário</strong>
                </mat-error>
              </mat-form-field>
              <div class="w-100"></div>
              <br>
              <mat-form-field class="example-full-width">
                  <input matInput placeholder="Senha" value="" type="password" name="password_current" maxlength="250" id="password_current" required="required" autofocus="autofocus" autocomplete="current-password">
                  <mat-hint>Insira sua senha</mat-hint>
                </mat-form-field>
                <div class="w-100"></div>
                <br>
                <button mat-raised-button color="primary" style="margin-left: 7%">Login</button>
            </form>
      <!-- </mat-card> -->
    </div>
  </div>
</div>