<mat-grid-list cols="1" rowHeight="100px">
  <mat-grid-tile>
      <mat-card-title>Adicionar valor para <br> Fernando Labirinto</mat-card-title>
  </mat-grid-tile>

    <mat-grid-tile cols="1">
        <mat-form-field>
            <input type='number' matInput placeholder="Valor" value="">
        </mat-form-field>
    </mat-grid-tile>
    <mat-grid-tile >
        <div>        
          <mat-form-field>
            <input matInput placeholder="Descrição" value="">
        </mat-form-field>
      </div> <!-- Descricao do movimento -->
    </mat-grid-tile>
    <mat-grid-tile >
        <mat-form-field>
          <input type="date" matInput placeholder="Data" value=""> <!-- Span Data movimento -->
        </mat-form-field>
    </mat-grid-tile>
  <mat-grid-tile>
    <button mat-raised-button color="primary" [routerLink]="['/values']">Adicionar</button>  
  </mat-grid-tile><!-- Botao de Add valor -->
</mat-grid-list>